name: paymint
description: Paymint client

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.2.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  provider: ^3.2.0
  http: ^0.12.0+2
  flutter_hooks: ^0.9.0
  majascan: ^0.3.7

  # Bitcoin plugins
  bitcoin_flutter: ^2.0.0
  bip39: ^1.0.3
  bip32: ^1.0.5

  # Storage plugins
  flutter_secure_storage: ^3.3.3
  hive: ^1.4.1+1
  hive_flutter: ^0.3.0+2
  path_provider: ^1.5.1
  
  # UI/Component plugins
  extended_nested_scroll_view: ^0.4.0
  sticky_headers: ^0.1.8
  frefresh: ^1.1.0
  toast: ^0.1.5
  flare_flutter: ^2.0.3
  google_fonts: ^1.0.0
  pretty_qr_code: ^1.0.1
  shimmer: ^1.1.1
  animations: ^1.0.0+5
  flutter_statusbarcolor: ^0.2.3
  share: ^0.6.4
  timeago: ^2.0.26
  url_launcher: ^5.4.7
  rounded_loading_button: ^1.0.0
  cupertino_icons: ^0.1.2
  flutter_money_formatter: ^0.8.3
  flutter_easyrefresh: ^2.1.1


dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner: ^1.9.0
  flutter_launcher_icons: ^0.7.3

flutter_icons:
  android: true
  ios: true
  image_path: assets/icon/icon.png

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg
  assets:
    - assets/images/btc.png
    - assets/images/work-in-progress.png
    - assets/images/mirage-payment-processed.png
    - assets/rive/success.flr
    - assets/icon/icon.png
    - google_fonts/
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
